<div class =" row ">
    <div class ="col-xs-7">
      <h1>User info</h1>
      <%= form_for (@user) do |f| %>
          <%= render 'layouts/error', item: @user %>

        <h4>profile_Image</h4>
        <div class ="profile_image">
            <%= attachment_image_tag @user, :profile_image, :fill, 100,100, fallback: "noimage.png",size: "100x100" %>
            <br>
            </div>
          <div class ="edit_field">
            <%= f.attachment_field :profile_image,class: "user-edit-form",id: "file" %>
            <div id="result"></div>
          </div>
       

        <h4>Name</h4>
        <%= f.text_field :name %>
        
        <br>
        <h4>Introduction</h4>
        <%= f.text_area :introduction %>
        <br>
        <%= f.submit 'Update User' %>
      <% end %>

    <div>
<div>