<div class = "row">
    
    <%= render 'users/profile', user:@user %>



		<div class="row">
    <div class = "col-xs-8">
     <h3>...stationery_photo</h3><br>
			<% @items.each do |item| %>
				<div class = "form_box_show" >
          <div class ="inline">
        
					<%= link_to item_path(item.id) do %>
              <div class = "my_photos">
							<%= attachment_image_tag item, :image, :fill, 240, 200, format: "png" %>
              </div>
					<% end %>
				  </div>
        </div>
			<% end %>

      <% if @user == current_user %>

        <div class = "create_box">
            <div class = "new">
            <br><%= link_to "",new_item_path, class:"fas fa-plus fa-2x"%><br>
            <br><%= link_to "New create",new_item_path %>
            </div>
        </div>
      
      <% end%>


		</div>
    </div>

</div>
