<div class = "row">

    <%= render 'users/profile', user:current_user %>

    <div class = "new_item">
            <%= form_for (@item) do |f| %>
									<%= render 'layouts/error', item: @item %>
				        <div class ="col-xs-5">

                  <h3> New create</h3>
				      <br>
					          <div class ="field">
				            <%= f.attachment_field :image, id: "file" %>
										<div id="result"></div>
					          </div>
				        </div>

				        <div class ="col-xs-4">
					          <table class="table new-table">
                    <br>
                    <br>
				            <tbody>
					             <tr>
				     	            <th><span class="fas fa-feather"></span>Title</th>
				     	            <td><%= f.text_field :title, :size=>"30x10", class: "form-control" %></td>
				   	          </tr>
							        <tr>
				                  <th><span class="fas fa-feather"></span>Comment</th>
				                  <td><%= f.text_area :body, :size=>"50x10", class: "form-control"  %></td>
				              </tr>
				              <tr>
				                  <th>Stationery_genre</th>
									        <td><%= f.select :genre_name, [ :Pen, :Notebook, :Scissors, :Pins, :Pencilcase,:postcard, :other ], {prompt: "選択してください"},{class: 'mgl-15 form-control'} %></td>
				              </tr>
				              <tr>
				              	<th>Stationery_tag</th>
				              	<td><%= f.text_field :tag_list, value: @item.tag_list.join(','), class: "form-control"%></td>
				              </tr>
			              </tbody>
				            </table>

				              <p style="text-align:right;"><%= f.submit 'New post', class: "btn btn-primary" %></p>
				        </div>
				    <% end %>
            </div>
</div>