<h1> Ranking TOP 3</h1>

<% @all_ranks.each.with_index(0) do |item, i| %>
 <div class = "col-xs-4">
    <div class = "ranking_form">
    
      <h3>第<%= i += 1%>位</h3>
          <table class = "table">
              <div class = "top3_photo">
              <%= link_to item_path(item.id) do %>
	            <%= attachment_image_tag item, :image, :fill, 300, 220, format: "png"%>
              </div>
              <% end %>
              
                      <% if item.favorited_by?(current_user) %>
											    <%= link_to item_favorites_path(item), method: :delete do %>
                     				<span class="fa fa-heart" style="color: red; margin-left: 6%"></span>
                      			<%= item.favorites.count %>
                      		<% end %>
                      <% else %>
                       		<%= link_to item_favorites_path(item), method: :post do %>
                       		<span class="fa fa-heart" style="margin-left: 6%">
                       		<%= item.favorites.count %><span>
                    			<% end %>	
								      <% end %>
	
  	            <tbody>
                  <tr>
											<th>  User</th>
				      				<td><%= item.user.name %></td>
									</tr>
						      <tr>
											<th>Title</th>
				      				<td><%= item.title %></td>
									</tr>
									<tr>
											<th>Comment</title></th>
				      				<td><%= item.body %></td>
									</tr>
								</tbody>						 		
						</table>
    </div>
  </div> 
<% end %>


