<!DOCTYPE html>
<html>
  <head>
    <title>choice_stationery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <li><%= link_to" choice_stationery",root_path,class:"fas fa-pencil-alt fa-lg" %></li>
        </nav>
        <nav class="nav navbar-nav">
          <div class="search-form" >
            <%= form_tag(search_path, method: :get) do %>
              <%= text_field_tag 'search[content]','', class: 'form', placeholder: "search" %>
              <%= select_tag 'search[model]', options_for_select({ "User" => "user", "Item" => "item" }) %>
              <%= submit_tag 'Search',class:'fas fa-search' %>
            <% end %>
         </div>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

              <li><%= link_to ' ', items_path, class:"fas fa-camera fa-lg" %></li>
              
              <li><%= link_to '', user_path(current_user.id), class:"fas fa-user fa-lg" %></li>
              <li><%= link_to ' ', users_path, class: 'fas fa-users fa-lg' %></li>
              <li><%= link_to ' ', destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt fa-lg" %></li>
            <% else %>
              <li><%= link_to ' ', root_path, class: "fas fa-home fa-lg" %></li>
              <li><%= link_to ' ', new_user_registration_path, class: 'fas fa-user-plus fa-lg' %></li>
              <li><%= link_to ' ', user_session_path, class: 'fas fa-sign-in-alt fa-lg' %></li>
            <% end %> 
          </ul>
        </nav>

      </div>
    </header>

    <div class="container">
      <p id="notice"><%= notice %></p>



<%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-2 col-xs-offset-10">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
